{{ define "main" }}

<header>
  <div class="intro">
    <img class="site-image" src="/media/quixote.png"></img>
    <p class="leader">We are uninterested in Valhalla.<br>We are interested in creating good outcomes</p>
    <p>I'm a Research Fellow at the <a href="https://vidhilegalpolicy.in">Vidhi Centre for Legal Policy</a> in the
      Health Team. I work on making healthcare regulation more effective and reforming the legal framework for organ
      transplants. You can read our research <a
        href="https://vidhilegalpolicy.in/topics/health/?custom_type=research&featured=9">here</a>.</p>
  </div>

  <div class="sidebar">
    <h1 class="site-title">{{.Site.Title}}</h1>
    <p class="site-description">lawyer <br>researcher <br>programmer</p>
    <nav>
      <ul>
        <li><a href="mailto:nihal.sahu@vidhilegalpolicy.in">Email</a></li>
        <li><a href="https://x.com/annihalated">Twitter</a></li>
        <li><a href="https://nihalsahu.substack.com">Newsletter</a></li>
      </ul>
    </nav>
  </div>
</header>



<main>
  <h1>Research</h1>
  <section id="research">
    <article class="research-item">
      <a href="#"><img src="/media/eolc_faq.png" class="research-image"></img></a>
      <p class="research-caption">Expert FAQs for doctors and hospitals on end-of-life care</p>
    </article>

    <article class="research-item">
      <a href="#"><img src="/media/hhpa_doctors.png" class="research-image"></img></a>
      <p class="research-caption">Evaluating the working of Medical Councils in India</p>
    </article>

    <article class="research-item">
      <a href="#"><img src="/media/hhpa_hospitals.png" class="research-image"></img></a>
      <p class="research-caption">The state of healthcare facilities licensing in India</p>
    </article>

    <article class="research-item">
      <a href="#"><img src="/media/hhpa_courts.png" class="research-image"></img></a>
      <p class="research-caption">Using eCourts data to understand medical negligence litigation in the courts</p>
    </article>

    <article class="research-item">
      <a href="#"><img src="/media/inessential_practices.png" class="research-image"></img></a>
      <p class="research-caption">A non-normative framework for Indian religion jurisprudence</p>
    </article>

    <article class="research-item">
      <a href="#"><img src="/media/dca.png" class="research-image"></img></a>
      <p class="research-caption">Drugs and Cosmetics (<a href="#">pdf</a>)</p>
    </article>

  </section>

  <div class="twocol">


    <section id="media">
      <h1>Essays & Media</h1>
      <article class="media-item">
        <span class="icon icon-substack"></span>
        <div class="text-content">
          <a href="https://nihalsahu.substack.com/p/against-searching-for-saints" class="media-title">Against Searching
            for Saints</a>
          <p class="media-description">An essay on the merits of paying people to do things</p>
        </div>
      </article>

      <article class="media-item">
        <span class="icon icon-substack"></span>
        <div class="text-content">
          <a href="https://nihalsahu.substack.com/p/think-seriously-about-state-capacity" class="media-title">Think
            Seriously About State Capacity</a>
          <p class="media-description">Notes on prescribing generic drugs</p>
        </div>
      </article>

      <article class="media-item">
        <span class="icon icon-substack"></span>
        <div class="text-content">
          <a href="https://nihalsahu.substack.com/p/authority" class="media-title">Authority</a>
          <p class="media-description">from the rubber truncheon to administrative law</p>
        </div>
      </article>

      <article class="media-item">
        <span class="icon icon-hindu"></span>
        <div class="text-content">
          <a href="https://www.thehindu.com/opinion/op-ed/living-wills-implementation-lags-in-india/article68025071.ece"
            class="media-title">Living wills implementation lags in India</a>
          <p class="media-description">Drugs and Cosmetics (<a href="#">pdf</a>)</p>
        </div>
      </article>

      <article class="media-item">
        <span class="icon icon-toi"></span>
        <div class="text-content">
          <a href="https://timesofindia.indiatimes.com/india/what-ails-indias-approach-to-universal-health-coverage/articleshow/105917461.cms"
            class="media-title">What ails India's approach to Universal Health Coverage</a>
          <p class="media-description">An optimal legal and regulatory framework can enhance universal health coverage
          </p>
          <p class="media-attribution">With Shreyashi Ray, Rituparna Padhy, and Kim D'Souza.</p>
        </div>
      </article>

      <article class="media-item">
        <span class="icon icon-dh"></span>
        <div class="text-content">
          <a href="https://www.deccanherald.com/opinion/a-missed-opportunity-new-drugs-bill-is-old-medicine-in-new-bottle-1149178.html"
            class="media-title">A missed opportunity: New Drugs Bill is old medicine in new bottle</a>
          <p class="media-description">The drafters have missed an opportunity to modernize the regulatory structure for
            drugs by maintaining a status quo</p>
          <p class="media-attribution">With Shreya Shrivastava</p>
        </div>
      </article>
    </section>


    <section id="repositories">
      <h1>Repositories</h1>
      <article class="media-item">
        <span class="icon icon-github"></span>
        <div class="text-content">
          <a href="https://github.com/annihalated/wonk" class="media-title">annihalated/wonk</a>
          <p class="media-description">A Hugo theme for nostalgic blogging</p>
        </div>
      </article>

      <article class="media-item">
        <span class="icon icon-github"></span>
        <div class="text-content">
          <a href="https://github.com/annihalated/dotfiles" class="media-title">annihalated/dotfiles</a>
          <p class="media-description">My dotfiles.</p>
        </div>
      </article>

      <article class="media-item">
        <span class="icon icon-github"></span>
        <div class="text-content">
          <a href="https://github.com/annihalated/indiabill" class="media-title">annihalated/indiabill</a>
          <p class="media-description">A <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span> class for typesetting
            Indian draft legislation.</p>
        </div>
      </article>

      <article class="media-item">
        <span class="icon icon-github"></span>
        <div class="text-content">
          <a href="https://github.com/annihalated/gcm" class="media-title">annihalated/wonk</a>
          <p class="media-description">A toy VCS written in Go</p>
        </div>
      </article>
    </section>


    </section>

  </div>

</main>


{{ end }}